<phpunit bootstrap="./TestCase.php">
    <testsuites>
        <testsuite name="Controllers">
            <file>./controllers/ArchiveTest.php</file>
        </testsuite>
        <testsuite name="Services">
            <file>./services/HandlerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>